@font-face {
	font-family: 'tamilFancy';
	src: url('../fonts/TAMUni-Tamil195.eot'); /* IE9 Compat Modes */
	src: url('../fonts/TAMUni-Tamil195.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/TAMUni-Tamil195.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/TAMUni-Tamil195.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/TAMUni-Tamil195.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/TAMUni-Tamil195.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
	margin: 0;
	height: 100%;
	position: relative;
}

body {
	font-family: 'tamilFancy', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	/*margin: 0 auto;*/
	padding: 0;
}

.hidden {
	display: none;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-ms-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
}

.bg-hidden {
	opacity: 0;
}

.balloons-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.text-line {
	color: #0a81d8;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
	width: 100%;
	-webkit-animation: typingAnimation 4s steps(60, end);
	-moz-animation: typingAnimation 4s steps(60, end);
	-ms-animation: typingAnimation 4s steps(60, end);
	-o-animation: typingAnimation 4s steps(60, end);
	animation: typingAnimation 4s steps(60, end);
}

@-webkit-keyframes typingAnimation {
	from {
		width: 0;
	}
}

@-moz-keyframes typingAnimation {
	from {
		width: 0;
	}
}

@-ms-keyframes typingAnimation {
	from {
		width: 0;
	}
}

@-o-keyframes typingAnimation {
	from {
		width: 0;
	}
}

@keyframes typingAnimation {
	from {
		width: 0;
	}
}

.balloonSvg {
	cursor: pointer;
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-ms-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
}

.fadeOutAnim {
	opacity: 0;
}