<div id="hiddenDivContainer" style="font-size:20px;line-height:26px;padding:10px 20px;">
	<div class="hidden" data-next-line-start-time="1400">அன்புள்ள அம்லுவுக்கு,</div>
	<div class="hidden" data-next-line-start-time="2000">இனிய பிறந்த நாள் நல்வாழ்த்துக்கள்.</div>
	<div class="hidden" data-next-line-start-time="2900">நமது திருமணத்திற்குப் பிறகு வரும் உன்னுடைய முதல் பிறந்த நாள் இது.</div>
	<div class="hidden" data-next-line-start-time="3200">எனவே இதைச் சீறும் சிறப்புமாகக் கொண்டாட வேண்டும் என்பது என் எண்ணம்.</div>
	<div class="hidden" data-next-line-start-time="3300">நீ இன்று போல் என்றும் மகிழ்ச்சியுடன் ஆரோக்கியத்துடன் கவலைகளற்று வாழ வேண்டும்,</div>
	<div class="hidden" data-next-line-start-time="4000">என உன் விருப்பத்திற்குரிய கடவுளான அந்த விநாயகப் பெருமானை வேண்டிக் கேட்டுக்கொள்கிறேன்.</div>
	<div class="hidden" data-next-line-start-time="4600">நான் உன்னைச் சரிவரப் புரிந்துகொள்ளவிடினும் நான் உன்மேல் வைத்திருக்கும் அன்பு என்றும் மாறாதது.</div>
	<div class="hidden" data-next-line-start-time="3000">நீ என்னைப் பொறுத்துக்கொண்டு என்னுடன் கடைசிவரை இன்பமுற வாழ்வாய்</div>
	<div class="hidden" data-next-line-start-time="1900">என்ற நம்பிக்கை எனக்கு எப்பொழுதும் உண்டு.</div>
	<div class="hidden" data-next-line-start-time="2500">ஏனெனில் நீ என்னை அந்த அளவிற்கு நேசிக்கின்றாய். அதுமட்டுமின்றி,</div>
	<div class="hidden" data-next-line-start-time="3800">நீயும் நானும் ஈருடல் ஓருயிராகத் தான் வாழ்ந்துகொண்டிருக்கின்றோம். வாழ்வோம்.</div>
	<div class="hidden" data-next-line-start-time="3200">உன் மகிழ்ச்சியை என் மனதில் வைத்தே எல்லாவற்றையும் நான் செய்கின்றேன்.</div>
	<div class="hidden" data-next-line-start-time="3100">எப்பொழுதும் உன் மகிழ்ச்சியை சௌகரியத்தைப் பற்றியே எண்ணுவேன்.</div>
	<div class="hidden" data-next-line-start-time="3700">உனது ஆசைகளை எப்படியாவது நிறைவேற்றி விட வேண்டும் என்று எனக்கு ஆசை.</div>
	<div class="hidden" data-next-line-start-time="3800">சிறிது சிறிதாக அனைத்தையும் நிறைவேற்றுவேன் என்ற நம்பிக்கை எனக்கு இருக்கின்றது.</div>
	<div class="hidden" data-next-line-start-time="4400">எனவே கவலை வேண்டாம். நமது பெற்றோர்களை நாம் தான் நன்றாகப் பார்த்துக் கொள்ள வேண்டும்.</div>
	<div class="hidden" data-next-line-start-time="4200">நம்மைத் தவிர அவர்களுக்கு வேறு யாரும் இல்லை என்பதை ஒருபொழுதும் மறக்கக் கூடாது.</div>
	<div class="hidden" data-next-line-start-time="3800">எனக்கு சொல்ல வேண்டியது நிறைய இருந்தாலும் இத்துடன் இதை முடிக்கின்றேன்.</div>
<div class="hidden" data-next-line-start-time="3000">"எல்லோரும் இன்புற்றிருக்க நினைப்பதுவே அல்லாமல், வேறொன்றறியேன் பராபரமே"</div>
	<div class="hidden" data-next-line-start-time="2000"> என்ற தாயுமானவர் வாக்குப்படி நாமும் வாழ்வது நலம்.</div>
	<div class="hidden" style="float:right;text-align:right;" data-next-line-start-time="800">இவண்,</div>
	<div class="hidden" style="clear:both;float:right;text-align:right;" data-next-line-start-time="1300">உன் உயிரினும் மேலான,</div>
	<div class="hidden" style="clear:both;float:right;text-align:right;" data-next-line-start-time="500">கிட்டி.</div>
</div>